* {
    box-sizing: border-box;
}

body {
    color: #1c1c1c;
    background-color:#F5EDF0;
    font-family: Robot-Mono, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
}

.body-overflow {
    overflow: hidden;
}

h1 {
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
    color: #F5EDF0;
    margin: 0;
    padding: 1em;
    padding-right: 3em;
}

h2 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #400000;
    margin-top: 2em;
}

h2:nth-of-type(1) {
    margin-top: .9em;
}

strong {
    color: #400000;
    font-weight: 800;
}

p {
    font-size: 1.1rem;
    line-height: 1;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: #F5EDF0;
}

a:hover {
    color: #D0ADA7
}

header {
    background-color: #400000;
    color: #F5EDF0;
    text-align: center;
    width: 100vw;
    position: sticky;
    top: 0;
}

main {
    padding: 0 3em;
}

nav {
    display: none;
}

nav button {
    color: #400000;
    text-transform: uppercase;
    font-weight: 800;
    font-size: .8rem;
    border: none;
    background-color: #F5EDF0;
    border-radius: 5px;
    padding: .5em 1em;
    margin: .5em 0;
    display: block;
}

button:hover,
button:focus {
    background-color: #400000;
    color: #F5EDF0;
}

.open-nav,
.exit,
#menu-btn {
    color:#F5EDF0;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em 3em;
}

#menu-btn {
    margin: 1em 1em;
}

.open-nav {
    background-color: #D0ADA7;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin: 0 auto;
}

form {
    margin-bottom: 1em;
}

.forms {
    padding: 2em;
    margin: 2em;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    width: 100px;
    padding: 1em;
    background-color: #1c1c1c;
    border: none;
    border-radius: 5px;
    color: #F5EDF0;
}

#range-form {
    margin-top: 1em;
}

#range-form button {
    width: 250px;
    margin-bottom: 2em;
}

#start-range input {
    width: 250px;
}

#end-range-input {
    width: 100px;
}

#sequence-form input {
    margin-bottom: .5em;
}

#base-sequence-input {
    width: 65px;
}

#sequence-input {
    width: 180px;
}

@media (min-width: 1000px) {
    .menu, .exit {
        display: none;
    }

    body {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    h1 {
        font-size: 1.7rem;
    }
    
    h2 {
        font-size: 1.3rem;
    }
    
    p {
        font-size: 1.2rem;
    }
    
    .content-wrapper {
        display: flex;
        flex: 90%;
    }

    header {
        height: 13vh;
        flex: 10%;
    }

    main {
        flex: 65%;
    }
    
    nav {
        background-color: #D0ADA7;
        display: flex;
        flex: 35%;
        height: 87vh;
        position: -webkit-sticky;
        position: sticky;
        top: 13vh;
    }
    
    nav button {
        margin-bottom: 1em;
        width: 250px;
        padding: .5em 1em;    
        font-size: .8rem;
        display: initial;
    }
    
    nav input {
        font-size: .8rem;
    }

    .forms {
        padding: 0;
        text-align: left;
    }    

    form {
        margin-bottom: 0;
    }    

    form button {
        width: 150px;
    }
    
    #sequence-form button {
        width: 250px;
        margin-bottom: 2em;
    }

    .open-nav, #menu-btn {
        margin: 0;
    }
}